In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests

# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Albany,US,2021-06-04 23:52:13,42.6001,-73.9662,75.78,78,58,3.18
1,1,Batsfjord,NO,2021-06-04 23:51:46,70.6345,29.7185,47.61,87,77,8.77
2,2,Pevek,RU,2021-06-04 23:52:13,69.7008,170.3133,38.41,89,100,7.70
3,3,Callaguip,PH,2021-06-04 23:52:13,18.0714,120.4867,80.62,83,90,14.72
4,4,Progreso,MX,2021-06-04 23:52:14,21.2833,-89.6667,85.10,76,63,16.20

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]

# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)

# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [11]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Albany,US,2021-06-04 23:52:13,42.6001,-73.9662,75.78,78,58,3.18
3,3,Callaguip,PH,2021-06-04 23:52:13,18.0714,120.4867,80.62,83,90,14.72
4,4,Progreso,MX,2021-06-04 23:52:14,21.2833,-89.6667,85.10,76,63,16.20
9,9,Eufaula,US,2021-06-04 23:52:15,31.8913,-85.1455,80.64,78,40,4.61
10,10,Georgetown,MY,2021-06-04 23:51:14,5.4112,100.3354,81.90,91,20,3.00
11,11,Rikitea,PF,2021-06-04 23:52:15,-23.1203,-134.9692,75.27,77,75,13.47
13,13,Belmonte,BR,2021-06-04 23:52:16,-15.8631,-38.8828,75.70,87,99,10.20
14,14,Boa Vista,BR,2021-06-04 23:52:16,2.8197,-60.6733,84.18,70,75,3.44
17,17,Vila Velha,BR,2021-06-04 23:52:17,-20.3297,-40.2925,75.15,89,20,4.61
21,21,Hami,CN,2021-06-04 23:52:18,42.8000,93.4500,81.34,23,62,14.58

In [12]:
preferred_cities_df.isnull().sum()

City_ID       0
City          0
Country       0
Date          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
dtype: int64

In [13]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

          City Country  Max Temp      Lat       Lng Hotel Name
0       Albany      US     75.78  42.6001  -73.9662
3    Callaguip      PH     80.62  18.0714  120.4867
4     Progreso      MX     85.10  21.2833  -89.6667
9      Eufaula      US     80.64  31.8913  -85.1455
10  Georgetown      MY     81.90   5.4112  100.3354
11     Rikitea      PF     75.27 -23.1203 -134.9692
13    Belmonte      BR     75.70 -15.8631  -38.8828
14   Boa Vista      BR     84.18   2.8197  -60.6733
17  Vila Velha      BR     75.15 -20.3297  -40.2925
21        Hami      CN     81.34  42.8000   93.4500

In [20]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key,

}

In [26]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()

    
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [27]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Albany,US,75.78,42.6001,-73.9662,
3,Callaguip,PH,80.62,18.0714,120.4867,Pangil Beach Resort
4,Progreso,MX,85.10,21.2833,-89.6667,Playa Linda Hotel
9,Eufaula,US,80.64,31.8913,-85.1455,Days Inn by Wyndham Eufaula AL
10,Georgetown,MY,81.90,5.4112,100.3354,Cititel Penang
11,Rikitea,PF,75.27,-23.1203,-134.9692,Pension Maro'i
13,Belmonte,BR,75.70,-15.8631,-38.8828,Pousada Monte Carmelo O Pão
14,Boa Vista,BR,84.18,2.8197,-60.6733,Aipana Plaza Hotel
17,Vila Velha,BR,75.15,-20.3297,-40.2925,Quality Suites Vila Velha
21,Hami,CN,81.34,42.8000,93.4500,Laoyutang Resort

In [33]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [34]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [35]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))