## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../weather_database/weatherpy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Sao Filipe,CV,14.8961,-24.4956,76.87,67,91,13.00,overcast clouds
1,1,Rikitea,PF,-23.1203,-134.9692,75.70,79,100,11.05,overcast clouds
2,2,Mataura,NZ,-46.1927,168.8643,41.99,95,82,1.70,broken clouds
3,3,Bandarbeyla,SO,9.4942,50.8122,79.27,86,36,24.34,scattered clouds
4,4,Saldanha,ZA,-33.0117,17.9442,57.25,40,6,10.92,clear sky

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip?"))
max_temp = float(input("What is the maximum temperature you would like for your trip?"))

What is the minimum temperature you would like for your trip?75
What is the maximum temperature you would like for your trip?90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) &  
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Sao Filipe,CV,14.8961,-24.4956,76.87,67,91,13.00,overcast clouds
1,1,Rikitea,PF,-23.1203,-134.9692,75.70,79,100,11.05,overcast clouds
3,3,Bandarbeyla,SO,9.4942,50.8122,79.27,86,36,24.34,scattered clouds
6,6,Vila Velha,BR,-20.3297,-40.2925,75.94,87,40,1.01,scattered clouds
9,9,Maha Sarakham,TH,16.3333,103.6667,80.19,88,100,4.07,moderate rain
18,18,Bathsheba,BB,13.2167,-59.5167,83.01,65,40,18.61,scattered clouds
19,19,Orocue,CO,4.7912,-71.3354,85.05,69,38,3.56,scattered clouds
22,22,Santa Rosa,PH,14.3122,121.1114,82.38,85,99,5.30,overcast clouds
24,24,Hilo,US,19.7297,-155.0900,81.25,78,16,5.01,few clouds
30,30,Atuona,PF,-9.8000,-139.0333,79.18,72,17,14.85,few clouds

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                232
City                   232
Country                232
Lat                    232
Lng                    232
Max Temp               232
Humidity               232
Cloudiness             232
Wind Speed             232
Current Description    232
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_cities_df = preferred_cities_df.dropna(how='any')
clean_cities_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Sao Filipe,CV,14.8961,-24.4956,76.87,67,91,13.00,overcast clouds
1,1,Rikitea,PF,-23.1203,-134.9692,75.70,79,100,11.05,overcast clouds
3,3,Bandarbeyla,SO,9.4942,50.8122,79.27,86,36,24.34,scattered clouds
6,6,Vila Velha,BR,-20.3297,-40.2925,75.94,87,40,1.01,scattered clouds
9,9,Maha Sarakham,TH,16.3333,103.6667,80.19,88,100,4.07,moderate rain
...,...,...,...,...,...,...,...,...,...,...
689,689,Guane,CU,22.2025,-84.0875,85.35,63,64,6.15,broken clouds
690,690,Axim,GH,4.8699,-2.2405,79.52,81,55,7.45,broken clouds
693,693,Nueva Germania,PY,-23.9000,-56.5667,83.97,28,67,4.38,moderate rain
696,696,Raiganj,IN,25.6167,88.1167,84.97,71,2,7.99,clear sky
700,700,Matelandia,BR,-25.2408,-53.9964,80.96,46,76,5.68,broken clouds

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Sao Filipe,CV,76.87,overcast clouds,14.8961,-24.4956,
1,Rikitea,PF,75.70,overcast clouds,-23.1203,-134.9692,
3,Bandarbeyla,SO,79.27,scattered clouds,9.4942,50.8122,
6,Vila Velha,BR,75.94,scattered clouds,-20.3297,-40.2925,
9,Maha Sarakham,TH,80.19,moderate rain,16.3333,103.6667,
18,Bathsheba,BB,83.01,scattered clouds,13.2167,-59.5167,
19,Orocue,CO,85.05,scattered clouds,4.7912,-71.3354,
22,Santa Rosa,PH,82.38,overcast clouds,14.3122,121.1114,
24,Hilo,US,81.25,few clouds,19.7297,-155.0900,
30,Atuona,PF,79.18,few clouds,-9.8000,-139.0333,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [9]:
hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Sao Filipe,CV,76.87,overcast clouds,14.8961,-24.4956,Hotel Xaguate
1,Rikitea,PF,75.70,overcast clouds,-23.1203,-134.9692,Pension Maro'i
3,Bandarbeyla,SO,79.27,scattered clouds,9.4942,50.8122,JABIR HOTEL
6,Vila Velha,BR,75.94,scattered clouds,-20.3297,-40.2925,Quality Suites Vila Velha
9,Maha Sarakham,TH,80.19,moderate rain,16.3333,103.6667,บุญทัน​&วิลัยบาเบอร์

In [17]:
# Double checking the number of empty values for Hotel Name
hotel_df["Hotel Name"] = hotel_df["Hotel Name"].replace("", np.nan)
hotel_df["Hotel Name"].isnull().sum()

15

In [19]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna(how='any')
clean_hotel_df.count()

City                   217
Country                217
Max Temp               217
Current Description    217
Lat                    217
Lng                    217
Hotel Name             217
dtype: int64

In [12]:
clean_hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Sao Filipe,CV,76.87,overcast clouds,14.8961,-24.4956,Hotel Xaguate
1,Rikitea,PF,75.70,overcast clouds,-23.1203,-134.9692,Pension Maro'i
3,Bandarbeyla,SO,79.27,scattered clouds,9.4942,50.8122,JABIR HOTEL
6,Vila Velha,BR,75.94,scattered clouds,-20.3297,-40.2925,Quality Suites Vila Velha
9,Maha Sarakham,TH,80.19,moderate rain,16.3333,103.6667,บุญทัน​&วิลัยบาเบอร์
18,Bathsheba,BB,83.01,scattered clouds,13.2167,-59.5167,Atlantis Hotel
19,Orocue,CO,85.05,scattered clouds,4.7912,-71.3354,Hotel Brisas de San Miguel
22,Santa Rosa,PH,82.38,overcast clouds,14.3122,121.1114,Erlyn’s Sta Rosa City Home
24,Hilo,US,81.25,few clouds,19.7297,-155.0900,Hilo Hawaiian Hotel
30,Atuona,PF,79.18,few clouds,-9.8000,-139.0333,Villa Enata

In [13]:
# 8a. Create the output File (CSV)
output_data_file = "weatherpy_vacation.csv"

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [14]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [15]:
# 11a. Add a marker layer for each city to the map. 
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))